a{
  color: black;
  font-size: 20px;
  font-style: italic;
  text-decoration: none;
}

h1 {
  color: white;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #A0A0A0;
  font-size: 400;
  font-family: 'Lora', serif;
}

p {
  color: black;
  font-size: 400;
  font-family: 'Lora', serif;
}

body{
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: lighter;
}

.banner {
  background-image: url(https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  padding: 120px 0;
  width: 100%;
  text-align: center;
}

.banner p {
  color: white;
  font-size: 28px;
  font-style: italic;
  font-family: 'Lora', serif;
}

.btn-green {
  background-color: #c4ebc9;
}

.btn-green:hover {
  background: rgb(29,212,53);
  background: linear-gradient(90deg, rgba(29,212,53,1) 0%, rgba(89,161,108,1) 100%);
}

.container {
  width: 700px;
  margin: 50px auto;
}

@media (max-width: 1200px) {
  /* For a screen < 1200px, this CSS will be read */
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  /* For a screen < 992px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 768px) {
  /* For a screen < 768px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 576px) {
  /* For a screen < 576px, this CSS will be read */
  .container {
    width: 300px;
  }
}
